// Flexes
=center
    display: flex
    justify-content: center
    align-items: center
    
=between-center
    display: flex
    justify-content: space-between
    align-items: center



// Section padding
=extra-large-top-bottom-padding
    padding-top: $extra-large-padding-top 
    padding-bottom: $extra-large-padding-bottom
=large-top-bottom-padding
    padding-top: $large-padding-top
    padding-bottom: $large-padding-bottom
=small-top-bottom-padding
    padding-top: $small-padding-top
    padding-bottom: $small-padding-bottom
=mobile-top-bottom-padding
    padding-top: $mobile-padding-top
    padding-bottom: $mobile-padding-bottom



// Font-headers
=h2-extra
    font-size: $h2-extra
    line-height: $h2-extra-line
=h2-medium
    font-size: $h2-medium
    line-height: $h2-medium-line
=h2-mobile
    font-size: $h2-mobile
    line-height: $h2-mobile-line



// Font sizes
=large-text
    font-size: $large-text
    line-height: $large-text-line
=medium-text
    font-size: $medium-text
    line-height: $medium-text-line
=normal-text
    font-size: $normal-text
    line-height: $normal-text-line
=small-text
    font-size: $small-text
    line-height: $small-text-line
=mobile-text
    font-size: $mobile-text
    line-height: $mobile-text-line