// Colors
$bg-color:#1a1b20 
$main-color: #F8B62A


// Fonts
$main-font: Gotham Pro


// Grid - padding
$extra-large-padding: 0 100px
$large-padding: 0 60px
$medium-padding: 0 40px
$mobile-padding: 0 17px 


// Section padding (top / bottom) 
$extra-large-padding-top: 100px
$extra-large-padding-bottom: 0 

$large-padding-top: 90px
$large-padding-bottom: 0 

$small-padding-top: 80px
$small-padding-bottom: 0 

$mobile-padding-top: 70px
$mobile-padding-bottom: 0 


// Font-headers 
$h1-extra: 5.7vh 
$h1-medium: 5.2vh
$h1-mobile: 4.7vh

$h2-extra: 3.7vh 
$h2-extra-line: 5.7vh

$h2-medium: 3.2vh
$h2-medium-line: 5.2vh

$h2-mobile: 2.7vh
$h2-mobile-line: 4.7vh


// Font sizes 
$large-text: 22px
$large-text-line: 36px

$medium-text: 18px 
$medium-text-line: 32px 

$normal-text: 16px
$normal-text-line: 28px

$small-text: 14px
$small-text-line: 24px

$mobile-text: 12px
$mobile-text-line: 20px