// Colors
$bg-color: #1a1b20 //#222
$main-color: #F8B62A

// Grid
$extra-large-padding: 0 100px
$large-padding: 0 60px
$medium-padding: 0 40px
$mobile-padding: 0 17px 

// Font-sizes
$h1-extra: 5.7vh 
$h1-medium: 5.2vh
$h1-mobile: 4.7vh

$h2-extra: 3.7vh 
$h2-extra-line: 5.7vh
$h2-medium: 3.2vh
$h2-medium-line: 5.2vh
$h2-mobile: 2.7vh
$h2-mobile-line: 4.7vh