.crumbles
    +start-center
    font-family: Gotham Pro
    &__wrapper
        +start-center
        flex-wrap: wrap
    &__base
        +start-center
    &__item
        margin-right: 10px
        +start-center
        text-decoration: none
        &-text
            +normal-text
            color: white
        &-icon
            margin-right: 10px
            height: 14px
    &__home
        &-icon
            height: 16px
    &__active
        &-text
            color: $main-color

// ================

// Medium
@media (max-width: 991px)
    .crumbles
        &__item
            margin-right: 7px
            &-text
                +small-text
            &-icon
                margin-right: 7px
                height: 12px
        &__home
            &-icon
                height: 14px

// Mobile
@media (max-width: 575px)
    .crumbles
        &__item
            margin-top: 5px
            &-text
                //+mobile-text
                font-size: 13px
                line-height: 22px
            &-icon
                height: 10px
        &__home
            &-icon
                height: 12px