.article
    &-subtitle
        margin-bottom: 40px
        width: 100%
        +large-text
        color: black
    &-paragraph
        margin-bottom: 40px
        width: 100%
        +medium-text
        color: black
    &-media
        margin-bottom: 40px
        width: 100%
        &__img
            width: 100%
        