.post-page
    +page-setup
    font-family: Gotham Pro
    &__description
        margin: 0 auto
        width: 100%
    &__header
        +page-header-large
        font-weight: 500
        margin: 80px 0 40px 0
        color: $main-color
    &__nav
        margin-bottom: 40px
        padding: 15px 
        background-color: #212228
    &__date
        margin-bottom: 40px
        //margin-left: 0 //10px
        +medium-text
        color: $main-color
    &__crumbles
        margin-bottom: 20px
    &__article
        margin: 0
        padding: 20px
        padding-top: 40px
        +basic-section
        background-color: white
    
// ================

// Large
@media (max-width: 1279px)
    .post-page
        &__header
            +page-header-medium
            margin: 70px 0 40px 0
        &__date
            +normal-text
        &__article
            +basic-section-large

// Medium
@media (max-width: 991px)
    .post-page
        &__header
            +page-header-small
            margin: 60px 0 30px 0
        &__nav
            margin-bottom: 30px
        &__date
            margin-bottom: 30px
            +small-text
        &__crumbles
            margin-bottom: 15px
        &__article
            +basic-section-medium

// Small
@media (max-width: 799px)
    .post-page
        &__description
            padding: 0 20px 0 20px
        &__header
            +page-header-mobile
            margin: 50px 0 30px 0
        &__article
            +basic-section-small
            margin-bottom: 0 // Удалить, если добавим еще блоки после статьи

// Mobile
@media (max-width: 575px)
    .post-page
        &__description
            padding: 0 15px 0 15px
        &__header
            font-size: 22px
            line-height: 32px
            margin: 40px 0 30px 0
        &__article
            padding: 15px
            padding-top: 40px
            +basic-section-mobile
            margin-bottom: 0 // Удалить, если добавим еще блоки после статьи