.post-page
    +page-setup
    font-family: Gotham Pro
    &__header
        +page-header-large
        font-weight: 500
        margin: 80px 0 40px 0
        color: $main-color
    &__date
        margin-bottom: 30px
        padding-left: 10px
        +medium-text
        color: $main-color
    &__article
        margin: 0
        padding: 20px
        padding-top: 40px
        +basic-section
        background-color: white
    